.form form {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form button {
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 60px;
    border: none;
    color: white;
    margin-bottom: 20px;
    background-color: #900a5c;
}

button:hover {
    background-color: #900a5c !important;
    color: rgb(255, 255, 255);
}

.amazingText {
    background-image: linear-gradient(to right, rgb(255, 0, 166), rgb(0, 128, 255), rgb(83, 0, 128));
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 60px;
}