@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Libre+Baskerville&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  color: inherit;
}

input {
  padding: 10px;
  outline: none;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid rgb(213, 213, 213);
}

button:hover {
  cursor: pointer;
}